*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.content {
  box-sizing: border-box;
  padding-top: 0px;
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  gap: 30px;
}

.rezult {
  box-sizing: border-box;
}

.result__video-container {
  box-sizing: border-box;
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  box-sizing: border-box;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__textfield {
  padding: 0;
  outline: none;
  appearance: none;
  width: 225px;
  min-height: 27px;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  background-color: #1b1919;
  border: none;
  text-align: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 1px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.title {
  display: block;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  padding-top: 0px;
  padding-bottom: 15px;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  width: 100%;
  height: 298px;
  flex-direction: column;
  overflow: auto;
  position: relative;
  
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__card-link {
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  margin: 2px; 
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: white;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-description-container {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
 }

.content__video-card-thumbnail {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 194px;
  min-height: 92px;
}

.content__video-card-title {
  display: block;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: white;
  font-size: 18px;
  line-height: 1.162;
}

.search-form__fieldset {
  box-sizing: border-box;
  border: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0;
  width: fit-content;
  padding: 0.1rem;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
}

.search-form__textfield:active {
  outline: 1px solid white;
  border-top: 0;
  border-bottom: 0;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  font-size: 18px;
  position: relative;
}

.search-form__pseudo-checkbox:active::after {
  box-sizing: border-box;
  content: "";
  display: block;
  padding-top: 4px;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__label-text {
  display: inline-block;
  margin-left: 5px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after,
.search-form__pseudo-checkbox:active::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
}

.search-form__checkbox:focus + .search-form__pseudo-checkbox {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  align-self: center;
  outline: 1px solid white;
  padding-top: 2.8px;  
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid white;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  display: inline-block;
  align-self: end;
  width: 194px;
  position: relative;
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-form__submit-button:active {
  width: 194px;
  background-color: #545050;
}

.search-form__submit-button:focus {
  outline: none;
  z-index: 1;
}

.search-form__submit-button:focus:not(:active)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid white;
  z-index: -2;
}

.search-form__submit-button:focus:not(:active) {
  border: 1px solid white;
  margin-left: 0.5px;
  margin-right: 0.5px;
}


.more-button {
  display:block;
  align-self: center;
  justify-self: center;
  width: 100%;
  outline: 1px solid white;
  position: relative;
  box-sizing: border-box;  
}

.more-button:active {
  display: inline-block;
  width: 100%;
  background-color: #545050;
}

.more-button:focus {
  display: inline-block;
  outline: none;
}

.more-button:focus-visible {
  display: inline-block;
  outline: 1px solid white;  
}
.more-button:focus-visible::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border: 2px solid white;
  z-index: -1;
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip-path: inset(50%);
}
